.top-bar {
  &__container {
    // height: $size_max;
    display: flex;
    align-items: center;
  }

  &__left-side,
  &__right-side {
    display: flex;
  }

  &__right-side {
    justify-content: flex-end;
  }

  &--align-center &__left-side,
  &--align-right &__left-side {
    flex: 1;
  }

  &--align-center &__right-side,
  &--align-left &__right-side {
    flex: 1;
  }

  &--align-center {
    text-align: center;
  }

  &--align-right {
    text-align: right;
  }

  &__title {
    font-size: $fontSize_lg;
  }

  &__subtitle {
    margin-top: $size_xs;
    color: $color_text_secondary;
  }
}
