.tabs {
  &__tab {
    border: $size_border solid transparent;
    height: 32px;
    background: $color_card;
    color: $color_text;
    transition: border-color $duration_fast;

    &:last-child {

    }

    &:hover {
      border-color: $color_accent;
    }

    &--active {
    }
  }
}
