.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $size_icon;
  height: $size_icon;

  &__fa {
    width: 100%;
    height: 100%;
  }

  &__img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}
