.modal {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;

  &__backdrop {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $size_md;
  }

  &__container {
    width: 100%;
    background: $color_card;
    border-radius: $size_lg;
  }

  &--pos-x-left &__backdrop {
    justify-content: flex-start;
  }

  &--pos-x-right &__backdrop {
    justify-content: flex-end;
  }

  &--pos-y-top &__backdrop {
    align-items: flex-start;
  }

  &--pos-y-bottom &__backdrop {
    align-items: flex-end;
  }
}
