.fab {
  display: flex;
  width: $size_xxl;
  height: $size_xxl;
  border-radius: $size_lg;
  transition: background-color $duration_fast;
  background: $color_card;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  outline-offset: $outline_offset;

  &:focus-visible {
    outline: $outline_focus;
  }

  &:hover {
    background-color: $color_border;
  }

  &__icon {
    color: $color_text;
    transition: color $duration_fast;

    &--secondary {
      color: $color_text_secondary;
    }
  }

  &--primary {
    background-color: $color_primary;

    &:hover {
      background-color: $color_primary_inverted;
    }
  }

  &--primary:hover &__icon {
    color: $color_text_inverted;
  }

  &--nobg {
    background: none;
  }
}
