@import "./normalize.css";

* {
  font-family: $fontFamily_default;
  font-weight: $fontWeight_default;
  font-size: $fontSize_default;
  box-sizing: border-box;
}

html,
body {
  background: $color_bg;
}

button {
  background: none;
  padding: 0;
  border: none;
  outline: none;
}

// test
body {
  color: #ffffff;
  padding: 16px;
}
